// bower:scss
// endbower

html,body {
  width: 100%;
  height: 100%;
}

body#errordoc {
  display: table;
  background: url('/images/fruentbg.jpg') no-repeat center center;
  background-size: cover;
  color: #efefef;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

body>div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

p {
  font-size: 24px;
}


